/* media queries */

  /* tablets > */
  @media (min-width: 768px) {
    .total-width {
      width:80%;
      margin:auto;
    }

    .menubar-right {
      float:right;
    }

    /* editando vista about */
    .about {
      width: 100% ;
      display: flex;
      flex-direction: column;
    }

    .about-distribution {
      display:inherit;
      width:100%;
      align-items: center;
      justify-content: center;
      height: 55vh;
    }
    /* end editando sector about */
  }
  /* end tablets > */

  /* mobile s,m,l */
  @media (max-width: 767px) {
    .total-width {
      width:100%;
      margin:auto;
    }
  }
  /* end mobile s,m,l */

/* end media queries */
