/* hoja de estilos */

/* estilos de toda la pagina */
*, body {
  color:#f3f6f7;
  font-size: 100%;
}

#top {
  width: 100%;
  height: 5rem;
  position:absolute;
}

/* end estilos de toda la pagina */

/* no padding / no margin */
.no-padding-left {
  padding-left:0;
}

.no-padding-right {
  padding-right: 0;
}

.no-margin-top {
  margin-top:0;
}
/* end no-padding on menybar */

/* padding / margin */

.top-margin {
  margin-top: 5rem;
}

/* padding / margin */

/* editing menu */

.fixed {
  width:100%;
  z-index: 150;
  position: fixed;
  top:0;
}



/* editing menu */

/* second layer */

.flex-organization {
  flex-direction: column;
}

/* end second layer */

.main {
  width:100%;
  height:200vh;
}
/* hero-image */
.main-background {
  width:100%;
  height:100vh;
  background: url("../img/hero_image2.jpg");
  background-size: cover;
  background-position: center;
  display:flex;
  /*position:fixed;*/

}
/* end hero-image */

/* second layer/text layer */
.second-background {
  background-color:rgba(0,7,7,0.7);
  display: inherit;
}
/* end second layer/text layer */

/* editing about */

.about {
  width: 100%;
  height:100vh;
  display: flex;
  flex-direction: column;
}

/* end editing about */

/* editing my pic */

.jose_contreras {
  margin:auto;
  border-radius:50%;
  max-width: 17rem;
  box-shadow: 0px 2px 25px #000707;
}

/* end editing my pic */

/* primary Text / secondary Text */

.primary-text {
  color:#f3f6f7;
  text-align: center;
  font:bold 6rem kellyslab;
}

.secundary-text {
  color:#f3f6f7;
  text-align:center;
  font: normal 2rem titilliumweb;
}

/* end primary Text / secondary Text */

/* portfolio */
  .portfolio {
    width:100%;
  }

/* images */
  .moving-image {
    width:15rem;
    height:15rem;
  }

  .moving-image-2 {
    width:20%;
    height:10%;
  }

  .moving-image-3 {
    width:15rem;
    height:150rem;
  }

  .radius {
    border-radius: 5px;
  }

/* end portfolio */

/* contact */

.contact {
  width:100%;
  height: 100vh;
}

.contact-block {
  padding:4rem;
  padding-top: 0;
}

form > input[type=text],
form > input[type=email] {
  width:100%;
  margin-top:2rem;
  font-size: 1.5rem;
  text-align: center;
  background: transparent;
  border:none;
  border-bottom:solid 1px #f3f6f7;
  outline: 0;
}

form > input:nth-child(1) {
  margin-top:0;
}

form > input[type=submit] {
  background: transparent;
  display: block;
  padding: 0.5rem 2rem;
  border: none;
  margin:0 auto;
  font-size: 1.5rem;
  margin-top:2rem;
  color:#f3f6f7;
  text-align: center;
  font-family: kellyslab;
  border:solid 1px  #f3f6f7;
}

*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color:#f3f6f7;
    text-align: center;
    font-family: kellyslab;
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
    color:#f3f6f7;
    text-align: center;
    font-family: kellyslab;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
    text-align: center;
    color:#f3f6f7;
    font-family: kellyslab;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    text-align: center;
    color:#f3f6f7;
    font-family: kellyslab;
}

/* footer */
  .footer {
    background-color: #000707;
    box-shadow: 0px 2px 25px #000707;
  }

  footer > div > p {
    padding:1rem 2rem;
    font-family: kellyslab;
    font-size: 1.2rem;
    vertical-align: middle;
    margin:0;
  }

  footer > div > p:nth-child(3) > a {
    color:#f3f6f7;
  }
/* end hoja de estilos */
