/* hoja de estilos */

*, body {
  color:#f3f6f7;
}

.main-background {
  background: url("../img/hero_image2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width:100%;
  display:flex;
  position:fixed;
}

.second-background {
  background-color:rgba(0,7,7,0.7);
  height: 100vh;
}

/* end hoja de estilos */
