/* hoja de estilos */

/* estilos de toda la pagina */
*, body {
  color:#f3f6f7;
}
/* end estilos de toda la pagina */

/* no padding / no margin */
.no-padding-right {
  padding-right:0;
}

.no-margin-top {
  margin-top:0; 
}
/* end no-padding on menybar */

/* hero-image */
.main-background {
  background: url("../img/hero_image2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width:100%;
  display:flex;
  position:fixed;
}
/* end hero-image */

/* second layer/text layer */
.second-background {
  background-color:rgba(0,7,7,0.7);
  height: 100vh;
  display: inherit;
}
/* end second layer/text layer */

/* editing my pic */

.jose_contreras {
  margin:auto;
  border-radius:50%;
  max-width: 170px;
  box-shadow: 0px 2px 25px #000707;
}

/* end editing my pic */

/* primary Text / secondary Text */

.primary-text {
  color:#f3f6f7;
  text-align: center;
  font:bold 60px kellyslab;
}

.secundary-text {
  color:#f3f6f7;
  text-align:center;
  font: normal 20px titilliumweb;
}

/* end primary Text / secondary Text */

/* end hoja de estilos */
